.recipeDetails {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-top: 20px;
  }
  
  .recipeDetails h2 {
    color: var(--primary-color);
    border-bottom: 2px solid var(--secondary-color);
    padding-bottom: 10px;
    margin-bottom: 20px;
  }
  
  .recipeDetails h3 {
    color: var(--secondary-color);
    margin-top: 20px;
    margin-bottom: 10px;
  }
  
  .recipeDetails button {
    margin-right: 10px;
    margin-top: 20px;
  }